body {
  background-color: Black;
  background-image: url(..//Images/basic_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  font-size: 1.5rem;
  color: lightyellow;
  font-family: 'Star Jedi', arial;

}

.SubMenuLabelPosition {
  position: absolute;
  /* border: 2px solid blue; */
  color: lightyellow;
  top: 10px;
  left: 550px;
  width: 800px;
  font-size: 30px;
  font-family: 'Star Jedi', arial;

}
span.myButton input {
  /* background-image: url(..//Images/Buttons/Button-Apply.png); */
  background-size: cover;
  position: absolute;
  top: 550px;
  left: 150px;
  width: 150px;
  height: 55px;
}
.buttonwidth {
  width: 150px;
}
#buttons {
  /* border: 4px solid blue; */
  position: absolute;
  top: 100px;
  left: 450px;
  padding-right: 100px;
}
#ldptarget {
  position: absolute;
  top: 137px;
  left: 120px;


}
#ldptargetpicture {
  width: 90px;
  height: 20px;
  opacity: 0.9;
shadow: 2px, 4px 15px blue;

}
#ldptargetpicture:hover{
  opacity: 1;
  shadow: 2px, 4px 15px black;
}
#r2menu {
  /* border: 4px solid blue; */
  position: absolute;
  width: 400px;
  height: 650px;
  /* top: 5%;
  left: 5%; */
}
.r2menupicture {
  position: inherit;
      /* height: 1100px; */
  top: 7.25%;
  left: 12%;
  width: 60%
}
#homeback {
  position: absolute;
  top: 450px;
  left: 90px;
}

.applyButton{
  background-image: url(..//Images/Buttons/Button-Apply.png);
  background-size: cover;
  /* opacity: 1; */
  /* border: 1px; */
  position: absolute;
  top:250px;
  left: 27%;
  height: 60px;
  width: 150px;
  box-shadow: 0px 0px 15px black;
  opacity: .8;
}
.applyButton:hover{
  opacity: 1.0;
}
.applyButtonoff{
  /* background-image: url(..//Images/Buttons/Button-Off-White.png);
  background-size: cover; */
  /* opacity: 1; */
  /* border: 1px; */
  position: absolute;
  top:250px;
  left: 60%;
  height: 60px;
  width: 150px;
  box-shadow: 0px 0px 15px black;
  opacity: .8;
}
.applyButtonoff:hover{
  opacity: 1.0;
}
INPUT[type="submit"] {
  background: url(..//Images/Buttons/Button-Apply.png);

  display: inline;
  position: absolute;
  height: 40px;
  width: 150px;
}
.ColorPickerdiv {
  position: absolute;
  /* border: 3px blue solid; */
  top: 200%;
  /* top: 360px;
  left: 625px; */
  width: 765px;
  font-size: 35 px;
}
.ColorPicker {
  /* border: 3px green solid; */
  align-items: center;
  /* justify-content: center; */
  position:absolute;
  top: 10%;
  left: 47%;
  width: 25%;
  font-size: 1.5rem;
  /* overflow: auto; */
}
label[for= ColorPicker]{
  position: absolute;
  left: 0%;
  top: -5%;
  font-size: 2rem;

}

.ColorPicker1 {
  /* border: 3px green solid; */
  align-items: center;
  /* justify-content: center; */
  position:absolute;
  top: 5%;
  left: 40%;
  width: 25%;
  font-size: 1.5rem;
  /* overflow: auto; */
}
label[for= ColorPicker1]{
  position: absolute;
  left: 0%;
  font-size: 2rem;

}

.ColorPicker2 {
  /* border: 3px green solid; */
  align-items: center;
  /* justify-content: center; */
  position:absolute;
  top: 75%;
  left: 40%;
  width: 25%;
  font-size: 1.5rem;
  /* overflow: auto; */
}
label[for= ColorPicker2]{
  position: absolute;
  left: 0%;
  font-size: 2rem;

}

.ColorPicker1Bounce {
  /* border: 3px green solid; */
  align-items: center;
  /* justify-content: center; */
  position:absolute;
  top: 5%;
  left: 60%;
  width: 25%;
  font-size: 1.5rem;
  /* overflow: auto; */
}
label[for= ColorPicker1Bounce]{
  position: absolute;
  left: 0%;
  font-size: 2rem;

}

.ColorPicker2Bounce {
  /* border: 3px green solid; */
  align-items: center;
  /* justify-content: center; */
  position:absolute;
  top: 75%;
  left: 60%;
  width: 25%;
  font-size: 1.5rem;
  /* overflow: auto; */
}
label[for= ColorPicker2Bounce]{
  position: absolute;
  left: 0%;
  font-size: 2rem;

}




.WhiteText {
  color: white;
  background: black;
  font-size: 30px;

}
.KnightRiderSliderPosition {
  /* position: absolute; */
  top: 80px;
  lef: 450px; */
  border: 3px red solid;
}

input[type="range"] {
  height: 40px;
  -webkit-appearance: none;
  /* justify-content: center; */
  margin: 10px 0;
  position: absolute;
  width: 75%;
  top: 135%;
  left: 15%;
  background: transparent;
  opacity: 0.7;


}
input[type="range"]:focus {
  outline: none;

}
input[type="range"]:hover {
  outline: none;
  opacity: 1;
}
input[type="range"]::after {
  content: "Slowest";
  color: White;
  font-size: 2rem;
  position: absolute;
  text-shadow: 0px 3px 15px blue;
  left: 80%;
  top: 120%;
}
input[type="range"]::before {
  content: "Fastest";
  color: White;
  font-size: 2rem;
  position: absolute;
  text-shadow: 0px 0px 10px blue;

  left: 0%;
  top: 120%;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 25px lightyellow;
  background: Yellow;
  border-radius: 9px;
  border: 1px solid #000000;
  b
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 25px black;
  border: 2px solid black;
  height: 45px;
  width: 15px;
  border-radius: 5px;
  background: lightblue;

  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: Yellow;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: yellow;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid black;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: black;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #000000;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #3071a9;
}

.LEDselectorTable{
  position: absolute;
  top: 175px;
  left: 325px;
}
.LEDselectorButtons{
  width: 75px;
  height: 75px;
}

#statusDiv {
  position: relative;
  top: 450px;
  left: 350px;
  color: white;
}




div.cap {display: block;height: 100px;width: 40px;/* background: url("https://d33wubrfki0l68.cloudfront.net/572492a49d39a2d0b9950e45d934fe77e3464261/d9a70/playground/playground/osx-dock/dock-background-left.png") bottom left no-repeat; */}

		div.cap.left { position: absolute; bottom: 0px; left: 0px; }
		div.cap.right { background-position: right bottom; position: absolute; top: 0px; right: 0px; }
		ul.osx-dock {display: inline-block;height: 500px;padding: 0 40px 0 0;/* background: url("https://d33wubrfki0l68.cloudfront.net/572492a49d39a2d0b9950e45d934fe77e3464261/d9a70/playground/playground/osx-dock/dock-background-left.png") no-repeat right bottom; */overflow:;margin: 0 0 0 40px;}
		ul.osx-dock li { display: block; position: relative; float: left 30px; width: 65px; height: 50px; margin: 40px 0 4px 0; -webkit-transition: 0.15s linear; -webkit-transition-property: -webkit-transform margin; text-align: center; }

		ul.osx-dock li a { display: block; height: 50px; padding: 0 1px; -webkit-transition: 0.15s linear; -webkit-transition-property: -webkit-transform margin; margin: 0;
		-webkit-box-reflect: below 2px
			-webkit-gradient(linear, left top, left bottom, from(transparent),
			color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
		}
		ul.osx-dock li a img { width: 55px; -webkit-transform: scale(1.3);}

		ul.osx-dock li:hover {
			margin-left: 12px; margin-right: 9px;
			z-index: 200;
		}
		ul.osx-dock li:hover a {
			-webkit-transform-origin: center right;
			-webkit-transform: scale(1.6);
		}
		ul.osx-dock li.nearby {
			margin-left: 6px; margin-right: 6px;
			z-index: 100;
		}
		ul.osx-dock li.nearby a {
			-webkit-transform-origin: center right;
			-webkit-transform: scale(1.25);
		}

		ul.osx-dock li span {background: rgba(0,0,0,0.75);position: absolute;bottom: 80px;left: 100px;margin: 0 auto;display: none;width: 100px;font-size: 16px;font-weight: bold;padding: 3px 6px;-webkit-border-radius: 6px;color: #fff;text-align: right;}
		ul.osx-dock li:hover span { display: block; }

		div#dockContainer {position: fixed;right: 12px;height: 300px;padding: 50px 0 0;text-align: -webkit-right;-webkit-border-radius: 6px;-moz-border-radiu;width: 10%;height: 50%;: 100%;line-height: 1;z-index: 100;}
		div#dockWrapper {width: auto;height: 50%;display: inline-block;position: relative;border-right: solid 2px rgba(255,255,255,.35);line-height: 0;}
    #dockContainer, #dockContainer * {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      }

      #transparent {
        opacity: .9;
      }

      #transparent:hover {
        opacity: 1.0;
        scale: 1.25;
        position: relative;
        z-index: 1;
        box-shadow: 0px 0px 30px blue;
      }
