body {
  background-color: Black;
  /* background-image: url(..//Images/basic_background.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  font-size: 1.5rem;
  color: lightyellow;
  font-family: 'Star Jedi', arial;


}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
::-webkit-scrollbar-thumb-horizontal {
  background: blue;
  height: 3px;
}

.SubMenuLabelPosition {
  position: relative;
  /* border: 2px solid blue; */
  color: lightyellow;
  top: 10px;
  left: 130px;
  width: 800px;
  font-size: 30px;
  font-family: 'Star Jedi', arial;

}

.SubMenuLabelPosition1 {
  position: relative;
  /* border: 2px solid blue; */
  color: lightyellow;
  top: 10px;
  left: 00px;
  width: 800px;
  font-size: 30px;
  font-family: 'Star Jedi', arial;

}

.SubMenuLabelPosition2 {
  position: inherit;
  /* border: 2px solid blue; */
  color: lightyellow;
  top: 10px;
  left: 00px;
  width: 800px;
  font-size: 30px;
  font-family: 'Star Jedi', arial;

}


span.myButton input {
  /* background-image: url(..//Images/Buttons/Button-Apply.png); */
  background-size: cover;
  position: absolute;
  top: 550px;
  left: 150px;
  width: 150px;
  height: 55px;
}
.buttonwidth {
  width: 165px;
}

.homebuttonwidth {
  width: 240px;
}
#buttons {
  /* border: 4px solid blue; */
  position: absolute;
  top: 100px;
  left: 450px;
  padding-right: 100px;
}
.buttons {
  /* border: 4px solid blue; */
  position: absolute;
  top: 130px;
  left: -50px;
  padding-right: 100px;
}




























.ldpTarget {
  position: absolute;
  top: 75px;
  left: -160px;
}
.coinTarget{
  position: absolute;
  left: -350px;
  top: -47px;
}
.vuTarget{
  position: absolute;
  left: -350px;
  top: -47px;
}
.maintTarget{
  position: absolute;
  left: -150px;
  top: 100px;
}

.DPTarget{
  position: absolute;
  left: -65px;
  top: -95px;
}
.CBITarget{
  position: absolute;
  left: -210px;
  top: -100px;
}


.blankBorderLDP{
  border: 4px solid blue;
  box-shadow:  0px 0px 25px white, 0px 0px 10px white inset;
  width: 130px;
  height: 22px;
  border-radius: 7p x;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: -110px;
  outline: none;
}

.blankBorderLDP.active{
  border: 4px solid yellow;
  box-shadow: 0px 0px 15px yellow;
  width: 130px;
  height: 17px;
  border-radius: 5px;

  background-color: transparent;
  position: absolute;
  top: 2px;
  left: -110px;
  outline: none;

}

.blankBorderCoin{
  border: 3px solid blue;
  box-shadow: 0px 0px 15px blue;
  width: 30px;
  height: 60px;
  border-radius: 5px;

  background-color: transparent;
  position: absolute;
  top: 227px;
  left: 77px;
  outline: none;
}

.blankBorderCoin.active{
  border: 3px solid yellow;
  box-shadow: 0px 0px 15px yellow;
  outline: none;
  border-radius: 5px;


}

.blankBorderVU{
  border: 3px solid blue;
  box-shadow: 0px 0px 15px blue;
  width: 45px;
  height: 95px;
  border-radius: 5px;
  border-radius: 5px;

  background-color: transparent;
  position: absolute;
  top: 192px;
  left: 170px;
  outline: none;
}

.blankBorderVU.active{
  border: 3px solid yellow;
  box-shadow: 0px 0px 15px yellow;
  outline: none;
  border-radius: 5px;

}

.blankBorderMaint{
  border: 3px solid blue;
  box-shadow: 0px 0px 15px blue;
  width: 45px;
  height: 45px;
  border-radius: 5px;

  background-color: transparent;
  position: absolute;
  top: 240px;
  left: -70px;
  outline: none;
  color: blue;
  font-size: 2rem;
}

.blankBorderMaint.active{
  border: 3px solid yellow;
  box-shadow: 0px 0px 15px yellow;
  outline: none;
    color: Yellow;
    border-radius: 5px;

}

.blankBorderDP{
  border: 3px solid blue;
  box-shadow: 0px 0px 15px blue;
  width: 45px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  position: absolute;
  top: 240px;
  left: -70px;
  outline: none;
  color: blue;
  font-size: 2rem;
}

.blankBorderDP.active{
  border: 3px solid yellow;
  box-shadow: 0px 0px 15px yellow;
  outline: none;
    color: Yellow;
    border-radius: 5px;
}

.blankBorderCBI{
  border: 3px solid blue;
  box-shadow: 0px 0px 15px blue;
  width: 45px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  position: absolute;
  top: 240px;
  left: -70px;
  outline: none;
  color: blue;
  font-size: 2rem;
}

.blankBorderCBI.active{
  border: 3px solid yellow;
  box-shadow: 0px 0px 15px yellow;
  outline: none;
    color: Yellow;
    border-radius: 5px;
}




.leftDoorTarget {
  position: absolute;
  top: 89px;
  left: -185px;
}

.blankBorderLeftDoor{
  border: 4px solid blue;
  box-shadow:  0px 0px 25px white, 0px 0px 10px white inset;
  width: 30px;
  height: 150px;
  border-radius: 7px;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: -110px;
  outline: none;
}

.blankBorderLeftDoor.active{
  border: 4px solid yellow;
  box-shadow: 0px 0px 15px yellow;
  background-color: transparent;
  outline: none;

}

.rightDoorTarget {
  position: absolute;
  top: 89px;
  left: -27px;
}

.blankBorderRightDoor{
  border: 4px solid blue;
  box-shadow:  0px 0px 25px white, 0px 0px 10px white inset;
  width: 30px;
  height: 150px;
  border-radius: 7px;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: -110px;
  outline: none;
}

.blankBorderRightDoor.active{
  border: 4px solid yellow;
  box-shadow: 0px 0px 15px yellow;
  background-color: transparent;
  outline: none;

}

.DPDoorTarget {
  position: absolute;
  top: 140px;
  left: -75px;
}

.blankBorderDPDoor{
  border: 4px solid blue;
  box-shadow:  0px 0px 25px white, 0px 0px 10px white inset;
  width: 50px;
  height: 100px;
  border-radius: 7px;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: -110px;
  outline: none;
}

.blankBorderDPDoor.active{
  border: 4px solid yellow;
  box-shadow: 0px 0px 15px yellow;
  background-color: transparent;
  outline: none;

}

.CBIDoorTarget {
  position: absolute;
  top: 145px;
  left: -157px;
}

.blankBorderCBIDoor{
  border: 4px solid blue;
  box-shadow:  0px 0px 25px white, 0px 0px 10px white inset;
  width: 50px;
  height: 40px;
  border-radius: 7px;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: -110px;
  outline: none;
}

.blankBorderCBIDoor.active{
  border: 4px solid yellow;
  box-shadow: 0px 0px 15px yellow;
  background-color: transparent;
  outline: none;

}




.domePicture{
  position: absolute;
  height: 400px;
  left: 00px;
  top: 0px;
}

.domeLittleDoor1Target {
  position: absolute;
  top: 360px;
  left: 370px;
}

.domeLittleDoor1{
  border: 4px solid blue;
  box-shadow:  0px 0px 25px white, 0px 0px 10px white inset;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: -110px;
  outline: none;
}

.domeLittleDoor1.active{
  border: 4px solid yellow;
  box-shadow: 0px 0px 15px yellow;
  background-color: transparent;
  outline: none;

}

.domeLittleDoor2Target {
  position: absolute;
  top: 380px;
  left: 410px;
}

.domeLittleDoor2{
  border: 4px solid blue;
  box-shadow:  0px 0px 25px white, 0px 0px 10px white inset;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: -110px;
  outline: none;
}

.domeLittleDoor2.active{
  border: 4px solid yellow;
  box-shadow: 0px 0px 15px yellow;
  background-color: transparent;
  outline: none;

}

.domeLittleDoor3Target {
  position: absolute;
  top: 340px;
  left: 430px;
}

.domeLittleDoor3{
  border: 4px solid blue;
  box-shadow:  0px 0px 25px white, 0px 0px 10px white inset;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: -110px;
  outline: none;
  color: white;
}

.domeLittleDoor3.active{
  border: 4px solid yellow;
  box-shadow: 0px 0px 15px yellow;
  background-color: transparent;
  outline: none;

}



















.hideexcess{
  overflow: hidden;
  width: 85px;
  height: 100px;
}

#ldptargetpicture {
  width: 130px;
  height: 20px;
  opacity: 0.9;
shadow: 2px, 4px 15px blue;

}
#ldptargetpicture:hover{
  opacity: 1;
  shadow: 2px, 4px 15px black;
}
.r2menu {
  /* border: 4px solid blue; */
  position: absolute;
  top: 60px;
  left: 120px;
  width: 300px;
  height: 625px;
  /* top: 5%;
  left: 5%; */
}
 .r2menupicture {
  width: 350px;
  position: absolute;
  left: 10px;
  top: 430px;
}

.r2menupicture21 {
 width: 350px;
 position: absolute;
 left: -620px;
 top: -90px;
}

.r2menupicture1 {
 width: 350px;
 position: absolute;
 left: -370px;
 top: -30px;
}
.r2menupictureLDP {
  width: 189px;
  position: absolute;
  left: -289px;
  top: 315px;
  /* background: url("../Images/Body/LDPBlue.png"); */
}

.r2menupictureLDP.active{

/* background: url("../Images/Body/LDPGreen.png"); */

}

.r2menupictureLDP1 {
  width: 190px;
  height: 20px;
  position: absolute;
  left: -616px;
  top: 405px;
  /* background: url("../Images/Body/LDPBlue.png"); */
}

.r2menupictureLDP1.active{

/* background: url("../Images/Body/LDPGreen.png"); */

}


.r2menupictureCoin {
  width: 30px;
  position: absolute;
  left: -633px;
  top: 577px;
}

.r2menupictureCoin.active{
}
.r2menupictureMaint {
  width: 290px;
  position: absolute;
  left: -665px;
  top: 760px;
}

.r2menupictureMaint.active{
}
.r2menupictureDataPanelVerticalBars {
  width: 40px;
  position: absolute;
  left: -480px;
  top: 555px;
}

.r2menupictureDataPanelVerticalBars.active{
}
.r2menupictureFrontHP {
  width: 46px;
  position: absolute;
  left: -466px;
  top: 300px;
}

.r2menupictureFrontHP.active{
}

.r2menupictureTopHP {
  width: 46px;
  position: absolute;
  left: -494px;
  top: 67px;
}

.r2menupictureTopHP.active{
}

.r2menupictureRearHP {
  width: 46px;
  position: absolute;
  left: -552px;
  top: -40px;
}

.r2menupictureRearHP.active{
}

.r2menupictureCBI {
  width: 68px;
  position: absolute;
  left: -629px;
  top: 518px;
}

.r2menupictureCBI.active{
}

.r2menupictureCBIServo {
  width: 68px;
  position: absolute;
  left: -366px;
  top: 638px;
}

.r2menupictureCBIServo.active{
}

.r2menupictureDPServo {
  width: 71px;
  position: absolute;
  left: -218px;
  top: 638px;
}

.r2menupictureDPServo.active{
}

.r2menupictureRightLargeDoorServo {
  width: 39px;
  position: absolute;
  left: -142px;
  top: 540px;
}

.r2menupictureRightLargeDoorServo.active{
}

.r2menupictureDataPanelLED1 {
  width: 68px;
  position: absolute;
  left: -439px;
  top: 518px;
  /* box-shadow: 0px, 0px, 3px, 3px, white; */
}

.r2menupictureDataPanelLED1.active{
}

.r2menupictureTopUtilityArm {
  width: 184px;
  position: absolute;
  left: -352px;
  top: 549px;
}

.r2menupictureTopUtilityArm.active{
}
.r2menupictureBottomUtilityArm {
  width: 184px;
  position: absolute;
  left: -348px;
  top: 595px;
  transform: rotate(180deg);
}

.r2menupictureTopUtilityArm.active{
}

.selectAll {
  position: absolute;
  left: -815px;
  top: 550px;
  font-size: 35px;
  text-align: center;
  border: 5px blue solid;
  /* padding-left: 15px;
  padding-right: 15 px;
  padding-top: 5px;
  padding-bottom: 5px; */
  width: 60px;
  height: 60px;
}

.selectNone {
  position: absolute;
  left: -815px;
  top: 640px;
  font-size: 35px;
  text-align: center;
  border: 5px blue solid;
  /* padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px; */
  width: 60px;
  height: 60px;

}
.checkmarkall{
  position: absolute;
  top: 575px;
  left: -745px;
  height: 60px;
  width: 60px;
}
.UpArrowPicture{
  position: absolute;
  top: 10px;
  left: 100px;
  height: 80px;
  width: 80px;
}
.DownArrowPicture{
  position: absolute;
  top: 190px;
  left: 100px;
  height: 80px;
  width: 80px;
  /* transform: rotate(180deg); */
}
.RightArrowPicture{
  position: absolute;
top: 100px;
left: 190px;
  height: 80px;
  width: 80px;
  /* transform: rotate(90deg); */
}
.LeftArrowPicture{
  position: absolute;
top: 100px;
left: 10px;
  height: 80px;
  width: 80px;
  /* transform: rotate(270deg); */
}
.CenterArrowPicture{
  position: absolute;
top: 100px;
left: 100px;
  height: 80px;
  width: 80px;
  /* transform: rotate(270deg); */
}
.UpperRightArrowPicture{
  position: absolute;
  top: 10px;
  left: 190px;
  height: 80px;
  width: 80px;
  /* transform: rotate(270deg); */
}
.LowerLeftArrowPicture{
  position: absolute;
  top: 190px;
  left: 10px;
  height: 80px;
  width: 80px;
  /* transform: rotate(270deg); */
}
.UpperLeftArrowPicture{
  position: absolute;
  top: 10px;
  left: 10px;
  height: 80px;
  width: 80px;
  /* transform: rotate(270deg); */
}
.LowerRightArrowPicture{
  position: absolute;
  top: 190px;
  left: 190px;
  height: 80px;
  width: 80px;
  /* transform: rotate(270deg); */
}
.checkmarknone{
  position: absolute;
  top: 675px;
  left: -745px;
  height: 60px;
  width: 60px;
}
.checkmarkapply{
  position: absolute;
  top: 305px;
  left: 75px;
  height: 60px;
  width: 60px;
}
.r2menu  .img-wrapper {
  display: inline-block;
  overflow: hidden;
}

.r2menupicturedome {
 width: 300px;
 position: absolute;
 left: -220px;
}
.HPServo{
  position: absolute;
  top: 400px;
  left: 550px;
  border: 3px solid white;
  width: 280px;
  height: 280px;
}
.HPServoHeader{
  position: absolute;
  top: -105px;
  left: -15px;
  width: 350px;
}

.openclosedoors{
  position: absolute;
  top: 400px;
  left: 150px;
  border: 3px solid white;
  height: 150px;
  width: 330px;

}
.openclosedoorsheader{
  position: absolute;
  top: -105px;
  left: 10px;
  width: 400px;
}


.utilityArmsDiv{
  border: 3px solid white;
  height: 150px;
  width: 900px;
  position: absolute;
  top: 50px;
  left: 60px;
}
 .img-wrapper img {
-webkit-transition: all .2s ease;
width: 100%;
}
 /* .img-wrapper img:hover {
-webkit-transform: scale(1.5);
} */


#homeback {
  position: absolute;
  top: 475px;
  left: 155px;
}

.openButton{
  height: 60px;
  width: 150px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.closeButton{
  height: 60px;
  width: 150px;
  position: absolute;
  top: 10px;
  left: 170px;
}
.cycleButton{
  height: 60px;
  width: 150px;
  position: absolute;
  top: 80px;
  left: 10px;
}
.AlternateButton{
  height: 60px;
  width: 150px;
  position: absolute;
  top: 80px;
  left: 170px;
}
.applyButton{
  background-image: url(..//Images/Buttons/Button-Apply.png);
  background-size: cover;
  /* opacity: 1; */
  /* border: 1px; */
  position: absolute;
  top:225px;
  left: 25px;
  height: 60px;
  width: 150px;

  opacity: .9;
}
.applyButton:hover{
  opacity: 1.0;
  box-shadow: 0px 0px 15px blue;
  scale: 1.2;
}
.applyButtonoff{
  /* background-image: url(..//Images/Buttons/Button-Off-White.png);
  background-size: cover; */
  /* opacity: 1; */
  /* border: 1px; */
  position: absolute;
  top:225px;
  left: 220px;
  height: 60px;
  width: 150px;
  box-shadow: 0px 0px 15px black;
  opacity: .9;
}
.applyButtonoff:hover{
  opacity: 1.0;
  scale: 1.2;
  box-shadow: 0px 0px 15px blue;

}
INPUT[type="submit"] {
  background: url(..//Images/Buttons/Button-Apply.png);

  display: inline;
  position: absolute;
  height: 40px;
  width: 150px;
}
.ColorPickerdiv {
  position: absolute;
  /* border: 3px blue solid; */
  top: 100px;
  /* top: 360px;
  left: 625px; */
  width: 450px;
  font-size: 35 px;
}
.ColorPicker {
  /* border: 3px green solid; */
  align-items: center;
  /* justify-content: center; */
  position:absolute;
  top: 10px;
  left: 100px;
  /* width: 25%; */
  font-size: 1.5rem;
  /* overflow: auto; */
}
label[for= ColorPicker]{
  position: absolute;
  left: 20px;
  top: -45px;
  width: 450px;
  font-size: 2rem;

}

.i2CPicker {

  font-size: 1.5rem;

}
.i2CPickertext {
  height: 25px;
  font-size: 1.5rem;
}

.ColorPicker1 {
  /* border: 3px green solid; */
  align-items: center;
  /* justify-content: center; */
  position:absolute;
  top: -35px;
  left: 280px;
  width: 25%;
  font-size: 1.5rem;
  /* overflow: auto; */
}
label[for= ColorPicker1]{
  position: absolute;
  left: 10px;
  top: -50px;
  font-size: 2rem;

}

.ColorPicker2 {
  /* border: 3px green solid; */
  align-items: center;
  /* justify-content: center; */
  position:absolute;
  top: 50px;
  left: 280px;
  width: 25%;
  font-size: 1.5rem;
  /* overflow: auto; */
}
label[for= ColorPicker2]{
  position: absolute;
  left: -10px;
  top: 35px;

  font-size: 2rem;

}

.ColorPicker1Bounce {
  /* border: 3px green solid; */
  align-items: center;
  /* justify-content: center; */
  position:absolute;
  top: 5%;
  left: 100px;
  width: 25%;
  font-size: 1.5rem;
  /* overflow: auto; */
}
label[for= ColorPicker1Bounce]{
  position: absolute;
  left: 0%;
  top: -60px;
  font-size: 2rem;

}

.ColorPicker2Bounce {
  /* border: 3px green solid; */
  align-items: center;
  /* justify-content: center; */
  position:absolute;
  top: 100px;
  left: 100px;
  width: 25%;
  font-size: 1.5rem;
  /* overflow: auto; */
}
label[for= ColorPicker2Bounce]{
  position: absolute;
  left: 100px;
  top: 50px;
  font-size: 2rem;

}




.WhiteText {
  color: white;
  background: black;
  font-size: 30px;

}
.KnightRiderSliderPosition {
  /* position: absolute; */
  top: 80px;
  lef: 450px;
  border: 3px red solid;
}

input[type="range"] {
  height: 40px;
  -webkit-appearance: none;
  /* justify-content: center; */
  margin: 10px 0;
  position: absolute;
  width: 75%;
  top: 10 5%;
  left: 15%;
  background: transparent;
  opacity: 0.7;


}
input[type="range"]:focus {
  outline: none;

}
input[type="range"]:hover {
  outline: none;
  opacity: 1;
}
input[type="range"]::after {
  content: "Slowest";
  color: White;
  font-size: 2rem;
  position: absolute;
  text-shadow: 0px 3px 15px blue;
  left: 80%;
  top: 120%;
}
input[type="range"]::before {
  content: "Fastest";
  color: White;
  font-size: 2rem;
  position: absolute;
  text-shadow: 0px 0px 10px blue;

  left: 0%;
  top: 120%;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 25px lightyellow;
  background: Yellow;
  border-radius: 9px;
  border: 1px solid #000000;
  b
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 25px black;
  border: 2px solid black;
  height: 45px;
  width: 15px;
  border-radius: 5px;
  background: lightblue;

  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: Yellow;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: yellow;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid black;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: black;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #000000;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #3071a9;
}

.LEDselectorTable{
  position: absolute;
  top: 175px;
  left: 325px;
}
.LEDselectorButtons{
  width: 75px;
  height: 75px;
}

#statusDiv {
  position: relative;
  top: 450px;
  left: 350px;
  color: white;
}




div.cap {display: block;height: 100px;width: 40px;/* background: url("https://d33wubrfki0l68.cloudfront.net/572492a49d39a2d0b9950e45d934fe77e3464261/d9a70/playground/playground/osx-dock/dock-background-left.png") bottom left no-repeat; */}

		div.cap.left { position: absolute; bottom: 0px; left: 0px; }
		div.cap.right { background-position: right bottom; position: absolute; top: 0px; right: 0px; }
		ul.osx-dock {display: inline-block;height: 500px;padding: 0 40px 0 0;/* background: url("https://d33wubrfki0l68.cloudfront.net/572492a49d39a2d0b9950e45d934fe77e3464261/d9a70/playground/playground/osx-dock/dock-background-left.png") no-repeat right bottom; */overflow:;margin: 0 0 0 40px;}
		ul.osx-dock li { display: block; position: relative; float: left 30px; width: 65px; height: 50px; margin: 40px 0 4px 0; -webkit-transition: 0.15s linear; -webkit-transition-property: -webkit-transform margin; text-align: center; }

		ul.osx-dock li a { display: block; height: 50px; padding: 0 1px; -webkit-transition: 0.15s linear; -webkit-transition-property: -webkit-transform margin; margin: 0;
		-webkit-box-reflect: below 2px
			-webkit-gradient(linear, left top, left bottom, from(transparent),
			color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
		}
		ul.osx-dock li a img { width: 55px; -webkit-transform: scale(1.3);}

		ul.osx-dock li:hover {
			margin-left: 12px; margin-right: 9px;
			z-index: 200;
		}
		ul.osx-dock li:hover a {
			-webkit-transform-origin: center right;
			-webkit-transform: scale(1.6);
		}
		ul.osx-dock li.nearby {
			margin-left: 6px; margin-right: 6px;
			z-index: 100;
		}
		ul.osx-dock li.nearby a {
			-webkit-transform-origin: center right;
			-webkit-transform: scale(1.25);
		}

		ul.osx-dock li span {background: rgba(0,0,0,0.75);position: absolute;bottom: 80px;left: 100px;margin: 0 auto;display: none;width: 100px;font-size: 16px;font-weight: bold;padding: 3px 6px;-webkit-border-radius: 6px;color: #fff;text-align: right;}
		ul.osx-dock li:hover span { display: block; }

		div#dockContainer {position: fixed;right: 12px;height: 300px;padding: 50px 0 0;text-align: -webkit-right;-webkit-border-radius: 6px;-moz-border-radiu;width: 10%;height: 50%;: 100%;line-height: 1;z-index: 100;}
		div#dockWrapper {width: auto;height: 50%;display: inline-block;position: relative;border-right: solid 2px rgba(255,255,255,.35);line-height: 0;}
    #dockContainer, #dockContainer * {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      }

      #transparent {
        opacity: .9;
      }

      #transparent:hover {
        opacity: 1.0;
        scale: 1.25;
        position: relative;
        z-index: 1;
        box-shadow: 0px 0px 30px blue;
      }




















.ColorPickerdivtab {
  position: absolute;
  /* border: 3px blue solid; */
  top: 300px;
  /* top: 360px;
  left: 625px; */
  width: 765px;
  font-size: 35 px;
}
.ColorPickertab {
  /* border: 3px green solid; */
  align-items: center;
  /* justify-content: center; */
  position:absolute;
  top: 10%;
  left: 47%;
  width: 25%;
  font-size: 1.5rem;
  /* overflow: auto; */
}
label[for= ColorPickertab]{
  position: absolute;
  left: 0%;
  top: -5%;
  font-size: 2rem;

}
.SubMenuLabelPositiontab {
  position: absolute;
  /* border: 2px solid blue; */
  color: lightyellow;
  top: -300px;
  left: 75px;
  width: 800px;
  font-size: 30px;
  font-family: 'Star Jedi', arial;


}

.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

.menuheader{
  position: absolute;
  top: -120px;
}
.menuHeader-Level-1{
  position: absolute;
  top: -120px;
  left: 205px;
  width: 600px;
}
.menuHeader-Level-2{
  position: absolute;
  top: -65px;
  left: 20px;
  width: 450px;
}
.menu-Level-0 {
  float: left;
  position: absolute;
  left: 0px;
  top: 100px;
  /* border: 1px solid #ccc; */
  background-color: black;
  width: 85px;
  height: 100%;
}

/* Style the buttons that are used to open the tab content */
.menu-Level-0 .menu-Level-0-Links button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 15px 6px;
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-radius: 10px;
  box-shadow: 5px 0px 7px blue;
}

/* Change background color of buttons on hover */
.menu-Level-0 .menu-Level-0-Links button:hover {
  background-color: #778899;
}

/* Create an active/current "tab button" class */
.menu-Level-0 .menu-Level-0-Links button.active {
  box-shadow: (25px 0px 145px yellow);
  background-color: #696969;
  display: block;
}

/* Style the tab content */
.menu-Level-0  .menu-Level-0-Content {
  position: absolute;
  display: none;
  left: 550px;
  top: 0px;
  padding: 5px 12px;
  /* border: 1px solid #ccc; */
  width: 800px;
  border-left: none;
  height: 100%;
}
.menu-Level-0  .menu-Level-0-Content.active{
  display: block;
}





.menu-Level-0  .menu-Level-0-Content .menu-Level-1{
  width: 220px;
  height: 700px;
  overflow-y: auto;
  overflow-x: visible;
  padding-left: 37px;
  padding-top: 25px;

}
.menu-Level-0  .menu-Level-0-Content .menu-Level-1::-webkit-scrollbar {
  height: 1rem;
}
.menu-Level-0  .menu-Level-0-Content .menu-Level-1::-webkit-scrollbar-track{
  box-shadow: inset 0 0 7px blue;

}
.menu-Level-0  .menu-Level-0-Content .menu-Level-1::-webkit-scrollbar-thumb {
  background-color: yellow;
  outline: 1px solid slategrey;
  border-radius: .4rem;
  opacity:0.7;
}

.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Links button{
   display: inline-block;
   /* left:100px;
   top: 100px; */
   width: 170px;
   height: 57px;
   overflow: visible;
   border: none;
   padding-top: 0px;
   background-color: black;
}

.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Links button.active{
   box-shadow: 0px 0px 15px yellow;
   background-color: yellow;
   border: none;
   outline: none;
  -webkit-transform: scale(1.25);
}
.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Links button.active:hover{
   box-shadow: 0px 0px 55px yellow;
   background-color: yellow;
   border: none;
   outline: none;

}

.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content{
  width: 400px;
  position:  absolute;
  top: 0px;
  left: 275px;
  display: none;
}
.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content.active{
  display: block;
  outline: none;
  border: none;
}

.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-2{
  width: 200px;
  height: 400px;
  overflow: visible;
  padding-left: 25px;
  padding-top: 25px;
}


.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content .menu-Level-2 .menu-Level-2-Links button{
 display: inline-block;
 width: 170px;
 height: 54px;
 overflow: visible;
border: none;
padding-top: 0px;
background-color: black;
/* padding-left: -25px; */
}

.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content .menu-Level-2 .menu-Level-2-Links button.active{
 box-shadow: 0px 0px 75px yellow;
 background-color: yellow;
 border: none;
 outline: none;
-webkit-transform: scale(1.25);
}

.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content .menu-Level-2 .menu-Level-2-Content{
  width: 400px;
  position:  absolute;
  top: 0px;
  left: 250px;
  display: none;
}

.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content .menu-Level-2 .menu-Level-2-Content.active{
display: block;
}



/*.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content button{
 position: absolute;

 background: none;
 width: 200px;
 height: 400px;
 display: none;
}
.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content button.active{
 display: block;

 width: 200px;
 height: 400px;


}
.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content  .ledControlSubMenuControl .ledControlSubMenu{

 background: none;
 width: 160px;
 height: 55px;
 border: none;
 outline: none;
}
.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content  .ledControlSubMenuControl .ledControlSubMenu.active{
-webkit-transform: scale(1.25);
box-shadow: 0px 0px 15px yellow;
}

.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content .ledControlSubMenuControl .tabSubMenu {
width: 200px;
height: 400px;
display: contents;
}

.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content  .ledControlSubMenuControl.tabSubMenu .tablinks button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 15px 6px;
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-radius: 10px;
  box-shadow: 5px 0px 7px blue;
}

.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content  .ledControlSubMenuControl .tabSubMenu .tablinks button:hover {
  background-color: #778899;
}

.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content  .ledControlSubMenuControl .tabSubMenu .tablinks button.active {
  box-shadow: (5px 0px 25px yellow);
  background-color: #696969;
  display: block;
}

.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content  .menu-Level-2 .menu-Level-2-Links{
  position: absolute;
  display: none;
  left: 500px;
  top: 60px;
  padding: 0px 12px;
  width: 800px;
  border-left: none;
  height: 100%;
}
.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content  .menu-Level-2 .menu-Level-2-Link.active{
  display: block;
}

.menu-Level-0  .menu-Level-0-Content .menu-Level-1 .menu-Level-1-Content  .ledControlSubMenuControl .tabSubMenu .tabcontentmenu.header{
  position: absolute;
  top: -100px;

}*/
